.card {
    width: 16rem;
    margin-right: 2rem;
}

.renameBtn {
    margin-right: 2rem;
}

.container {
    display: flex;
    flex-wrap: wrap;
}

.form-group {
    align-items: center;
    justify-content: center;
    display: flex;
    padding-top: 1rem;
}

.userName {
    margin-right: 1rem;
}